@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Roboto';
        src: url('/fonts/RobotoCondensed-Regular.ttf') format('truetype');
    }
}

@layer components {
    .customBg {
        background: url('/images/2d-graphic-colorful-wallpaper-with-grainy-gradients.jpg') no-repeat center;
    }
}